<form>
    <h1>Cadastrar nova Tarefa</h1>

    <mat-form-field class="form">
        <mat-label>Título</mat-label>
        <input matInput [(ngModel)]="tarefa.titulo" [formControl]="titulo" required type="text" name="titulo" placeholder="Ex. Criar CRUD para Tarefas" maxlength="100">
        <mat-error *ngIf="titulo.invalid"> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="tarefa.descricao" [formControl]="descricao" required type="text" name="descricao" placeholder="Ex. A atividade consciste em..." maxlength="500">
        <mat-error *ngIf="descricao.invalid"> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Prioridade</mat-label>
        <input matInput [(ngModel)]="tarefa.prioridade" [formControl]="prioridade" required type="text" name="descricao" placeholder="Ex. A atividade consciste em..." maxlength="500">
        <mat-error *ngIf="prioridade.invalid"> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>DeadLine</mat-label>
        <input matInput [(ngModel)]="tarefa.deadline" [formControl]="deadline" required type="text" name="deadline" placeholder="Ex. 22/05/2022" maxlength="100">
        <mat-error *ngIf="deadline.invalid"> {{ getMessage() }} </mat-error>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" [disabled]="getMessage()" class="bt-1 mat-elevation-z8" mat-raised-button color="primary"> Criar </button>
        <button (click)="cancel()" class="bt-2 mat-elevation-z8" mat-raised-button color="warn"> Cancelar </button>
    </div>

</form>