<form>
    <h1>Cadastrar nova Tarefa</h1>

    <mat-form-field class="form">
        <mat-label>Título</mat-label>
        <input matInput type="text" name="titulo" placeholder="Ex. Criar CRUD para Tarefas" maxlength="100">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>DeadLine</mat-label>
        <input matInput type="text" name="deadline" placeholder="Ex. 22/05/2022" maxlength="100">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <input matInput type="text" name="descricao" placeholder="Ex. A atividade consciste em..." maxlength="500">
    </mat-form-field>

    <div class="buttons">
        <button class="bt-1 mat-elevation-z8" mat-raised-button color="primary"> Criar </button>
        <button class="bt-2 mat-elevation-z8" mat-raised-button color="warn"> Cancelar </button>
    </div>

</form>